body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.menu {
    position: absolute;
    width: 100%;
    top: 30%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background: #00c3ff;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #008ecf;
}

canvas {
    display: none;
    background: #222;
}
